@{
    ViewBag.Title = "About";
 

    <!--<div class="content-wrapper" style="min-height: 1604.44px;">
      
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info">
                            <h5><i class="fas fa-info"></i> Note:</h5>
                            This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                        </div>

                        <div class="container">
                          <p>Đây là trang about</p>-->
                        <!-- Main content -->
                        <!-- /.invoice -->
                    <!--</div>--><!-- /.col -->
                <!--</div>--><!-- /.row -->
            <!--</div>--><!-- /.container-fluid -->
        <!--</section>-->
        <!-- /.content -->
    <!--</div>-->


        }

   