
@{
    ViewBag.Title = "About";

        ViewBag.Title = "Home Page";
        var datetime = DateTime.Now.Ticks;
        var nv = new DataAccess.QLBanHang.DAL.NhanVienRepositoryADO_NET();
}

    <div class="content-wrapper" style="min-height: 1604.44px;">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            @Html.Action("PartialViewDemo", "Home")
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </section>
        <!-- /.content -->
    </div>





