@{
    ViewBag.Title = "Home Page";
    var datetime = DateTime.Now.Ticks;
    var nv = new DataAccess.QLBanHang.DAL.NhanVienRepositoryADO_NET();
}

<div class="container">
    <div class="form-group">
        <label for="usr">Mã Nhân viên:</label>
        <input type="text" class="form-control" id="txtMaNV">
    </div>
    <div class="form-group">
        <label for="pwd">Tên Nhân Viên:</label>
        <input type="text" class="form-control" id="txtTenNv">
    </div>
    <div class="form-group">
        <label for="pwd">Địa chỉ:</label>
        <input type="text" class="form-control" id="txtAddress">
    </div>
    <div class="form-group">
        <button class="btn btn-success" id="btnSave"> <i class="fa fa-save"></i>Thêm</button>
        <button class="btn btn-danger" id="btnUpdate"> <i class="fa fa-save"></i>Cập nhật</button>
    </div>
</div>
<p>Danh sách Nhân viên</p>
@*@Html.Action("PartialViewDemo", "Home")*@
<div id="lst-employee"></div>
@*@Html.Action("Login", "Home")

    @Html.Partial("~/Views/PartialViews/StaticPartialViews.cshtml")*@
<script>

    $(document).ready(function () {
        GetAllData();
       

        $("#btnSave").click(function () {
            $("#txtMaNV").val('');
            $("#txtTenNv").val('');
            $("#txtAddress").val('');
            $("#txtMaNV").prop('disabled', false);
            Save();
        });


        $("#btnUpdate").click(function () {
            Update();
        });
    });

    function Save() {
        var manv = $("#txtMaNV").val();
        var ten_nv = $("#txtTenNv").val();
        var address = $("#txtAddress").val();

        var inputdata = {
            MaNV: manv,
            TenNV: ten_nv,
            DiaChi: address
        };

        $.ajax({
            type: 'POST',
            url: "Home/NhanVien_Insert",
            data: inputdata,
            success: function (data) {

                var code = data.ResponseCode;
                if (code > 0) {
                    GetAllData();
                }

                alert(data.ResponseMessenger);

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });

    }

    function Update() {
        var manv = $("#txtMaNV").val();
        var ten_nv = $("#txtTenNv").val();
        var address = $("#txtAddress").val();

        var inputdata = {
            MaNV: manv,
            TenNV: ten_nv,
            DiaChi: address
        };

        $.ajax({
            type: 'POST',
            url: "Home/NhanVien_Insert",
            data: inputdata,
            success: function (data) {

                var code = data.ResponseCode;
                if (code > 0) {
                    GetAllData();
                }

                alert(data.ResponseMessenger);

            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });

    }

    function GetAllData() {
        $.ajax({
            type: 'GET',
            url: "Home/PartialViewDemo",
            data: {},
            success: function (data) {

                $("#lst-employee").html(data);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function GetAllData1() {
        $.ajax({
            type: 'GET',
            url: "https://jsonplaceholder.typicode.com/todos/1",
            data: {},
            success: function (data) {
                console.log("userId:" + data.userId);
                console.log("title:" + data.title);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

</script>